@font-face {
  font-family: "SFMono-Regular";
  src: url("./assets/fonts/SFMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Market-Deco";
  src: url("./assets/fonts/Market-Deco.ttf");
  font-weight: normal;
  font-style: normal;
}
